* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;

}
header {
  background-color: #5DBCD2;
  height: 300px;
  width: 100%;
  color: white;
  float: left;
  padding-left: 200px;
}
.kitties-seattle {
  font-size: 1.55rem;


}

.nav-top {
  background-color: #e6e6e6;
  padding-top: 300px ;
  padding-left: 200px;
  padding-bottom: 50px;
  color: black;

}
.nav-top ul {
  margin-top: 30px;
  margin-left: -40px;
}

.nav-top a {
  color: black;
  text-decoration: none;

}
.nav-top ul li {
  display: inline;
  color: black;
  padding:  42px;

}
.main-content {
  margin-left: 200px;

}
.font-bold-blue {
    color: #5DBCD2;
}
a {
  font-size: 15px;
}

.cat-1 {
  padding-top: 40px;
  width: 50%;
}

.the-first-para {
  padding-top: 40px;
  color: gray;
}
.please-stop {
  box-sizing: border-box;
  padding-top: 50px;
  margin-bottom: 50px;
  color: #5DBCD2;
}
.stop-looking-phone {
  font-size: 1rem;
  width: 50%;
}
.kitties-to-go-story {
  width: 50%;
}
.the-second-para {
  margin-top: 10px;
  color: gray;
}
.the-third-para {
  margin-top: 40px;
  color: gray;
}
.cats-in-the-news {
  width: 25%;
  margin-left: 50px;
  position: absolute;
  right: 150px;
  top: 400px;
}
footer {
  background-color: #4d4d4d;
  height: 400px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.logo {
  margin-top: 50px;
}
.footer-paragraph {
  width: 50%;
  color: white;


}
